@layout('blank')

@section('title')
  Unauthorized
@endsection

@section('content')
  <main>
    <h1>Unauthorized</h1>
    <p>We are sorry, you are not allowed to see this page.</p>
  </main>
@endsection
