@layout('blank')

@section('title')
  Error 500
@endsection

@section('content')
  <main>
    <h1>Internal server error</h1>
    <p>We are sorry, there was an internal server error.</p>
  </main>
@endsection
